th, td{
    padding-left: 5%;
    padding-right: 5%;
    width: 20%;
    text-align: center;
}
header{
    margin-top:10%; margin-bottom: 10%; background-color: lightgoldenrodyellow; text-align: center;
}
table{
    width: 100%;
}
img{
    width: 100%;
    height: 100%;
    align-self: center;
}